local_assets/policies/**/*.pt filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.usd filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.usdz filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.dae filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.mtl filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.STL filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.stl filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.png filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
local_assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
